<div class="row">
  <div class="main-content">
    <div class="container">
      <h2><strong>Menu</strong></h2>
      <p>Take a look at our cocktails on offer as we try to recreate the drinks of the prohibition era.</p>
    </div>
    <span class="total"><strong>Number of cocktails ordered:</strong>&nbsp;{{totalQuantity()}}&nbsp;<strong>Total Cost:&nbsp;</strong>{{totalCost() | currency:'GBP':true}}</span>
    <div class="col-md-4 drink-item" *ngFor="let item of items">
      <div class="container-overlay">
        <div class="frame">
          <img class="img-responsive" [src]="item.image" [alt]="item.imageDescription">
          <div class="overlay">
            <div class="text">{{item.about}}</div>
          </div>
        </div>
      </div>
      <div class="cocktail-info">
        <h3 class="cocktail-name">{{item.name}}</h3>
        <h4 class="price">{{item.price | currency:'GBP':true}}</h4>
        <p class="cocktail-ingredients">{{item.main_ingredient}}, {{item.additional_ingredients}}</p>
        <div class="select-quantity">
          <button class="decrease" (click)="downQuantity(item)">-</button>
          <input class="number" type="text" readonly [value]="item.quantity" [(ngModel)]="item.quantity">
          <button class="increase" (click)="upQuantity(item)">+</button>
        </div>
        <div *ngIf="item.stock_available > item.quantity" class="stock-remain"><strong>{{item.stock_available - item.quantity}} remaining</strong></div>
        <div *ngIf="item.quantity === item.stock_available" class="stock-sold"><strong>Sold Out</strong></div>
      </div>
    </div>
  </div>
</div>
